src/main/resources/calculator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="intA"/>
        <xs:element type="xs:string" name="intB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>